@tailwind components;

@layer components {
  .text-strong {
    @apply text-gray-900 font-bold;
  }

  .text-body {
    @apply text-gray-700 leading-relaxed;
  }

  .text-muted {
    @apply text-gray-600 leading-relaxed;
  }

  .text-link-strong {
    @apply text-indigo-700 font-semibold;
  }
}
