@font-face{
  font-family: 'Vazirmatn';
  src: url('../../fonts/vazirmatn/Vazirmatn[wght].woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
html, body { font-family: 'Vazirmatn', system-ui, -apple-system, Segoe UI, Roboto, sans-serif; }
